@use "../scss/variables" as *;
@use "../scss/mixins" as *;

.mainTemplate {
    margin: 10px auto;
    display: flex;
    max-width: $width;
    min-height: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: $border-radius;
    overflow: hidden;

    @include phone{
        flex-direction: column;
    }
}