@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;

.descriptionImg {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        border: 2px solid $line-color;
        border-top: none;
        max-width: 240px;
        height: 240px;

        @include phone {
            max-width: 80%;
            height: 80%;
        }
    }

}