.DescriptionContent {
    color: white;
    margin: 10px 20px 0px 20px;
    line-height: 19px;
    font-size: 14px;

    li {
        line-height: 25px;
    }

    li::before {
        content: " • ";
    }
}