@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;

.details {
    display: flex;
    flex-direction: column;
    width: $width - calc($width * 0.4);
    background-color: #fcfcfc;
    padding: 25px 0px 0px 20px;

    @include phone {
        width: 100%;
    }
}