@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;

.description {
    display: flex;
    flex-direction: column;
    width: calc($width * 0.4);
    background-color: #282424;

    // @include phone{
    //     width: 100%;
    // }
}