@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;

.descriptionLine {
    background-color: $line-color;
    margin-left: 20px;
    width: 50px;
    height: 2px;
    display: flex;

    @include phone {
        justify-self: center;
        margin-top: 10px;
        width: 80%;
        margin-left: 0px;
    }
}